.button {
  cursor: e-resize;

  a {
    @extend %serif;
    background-color: $pop-color;
    color: $text-color;
    font-style: italic;
    padding: 0.3em 0.5em;
    cursor: e-resize;
  }

  &:hover {
    a {
      color: $text-color;
    }

    .button__arrow {
      padding-left: 0.5rem;
    }
  }
}

.button__arrow {
  transition: all 0.2s ease;
  .arrow {
    height: 0.6em;
  }
}
